body {
  background-color: #1d1d1d;
}

h1 {
  color: aliceblue;
}

li.item {
  color: aliceblue;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 50px;
  width: 90%;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  grid-gap: 1.5rem;
}

.movies-list img {
  max-width: 100%;
}

.pagination {
  display: flex;
  list-style: none;
}

.pagination li + li {
  margin-left: 1rem;
}

.pagination__item--active {
  color: aliceblue;
  background: none;
  font-weight: bold;
  border: none;
}

.pagination__item--active:focus {
  outline: none;
}

label#custom-css-outlined-input-label {
  color: aliceblue;
}

input#custom-css-outlined-input {
  color: aliceblue;
}
